<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMf1la6V6oVPyEYw3UqJzF8c8OMon6CJm5e/Dj" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}"/>

    <title>Mapa da Rota</title>

</head>
<body class="d-flex justify-content-center align-items-center" onload="carregarPontosDesejados()">
    
    <div class="border mt-5" id="table">
        <h1 class="text-center mt-3 mb-5">Mapa da Rota</h1>

        <div class="t_container mr-5 ml-5 mb-3">
            <div id="map" class="map-container"></div>

            <a id="whatsappBtn" class="btn btn-success mt-3" href="https://api.whatsapp.com/send?text=Confira%20a%20rota%20dos%20pontos%20tur%C3%ADsticos%20que%20vou%20visitar!" target="_blank">
                <img src="https://upload.wikimedia.org/wikipedia/commons/6/6b/WhatsApp.svg" alt="WhatsApp Icon" width="20" style="vertical-align:middle;"> Compartilhar
            </a>                     

        </div>
    </div>

    <script>
        var pontosDesejados = []
        function carregarPontosDesejados(){
            let pontos_selecionados = JSON.parse(localStorage.pontos_selecionados)
            for(let i = 0; i < pontos_selecionados.length; i++){
                let temp = pontos_selecionados[i]
                pontosDesejados.push([temp.latitude, temp.longitude])
            }   
        }

    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMi6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>
