<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}"/>
    
    <title>Ouro Pontos</title>
</head>
<body class="d-flex justify-content-center align-items-center">
    
    <div class="border mt-5" id="table">
        <h1 class="text-center mt-3 mb-5">Lista de Pontos Turísticos</h1>

        <div class="t_container mr-5 ml-5 mb-3">
            <table class="table table-striped table-bordered table-hover">
                <caption>Lista de Pontos Turísticos</caption>

                <thead class="thead-dark">
                    <tr>
                        {% for header in headers %}
                            <th>{{header}}</th>
                        {% endfor %}
                            <th>Remover</th>
                    </tr>
                </thead>
                <tbody>
                    {% for row in lista_pontos_turisticos %}
                        <tr>
                            <td>{{row['id']}}</td>
                            <td>{{row['nome']}}</td>
                            <td>{{row['descricao']}}</td>
                            <td>{{row['longitude']}}</td>
                            <td>{{row['latitude']}}</td>
                            <td><button class="btn btn-danger" onclick="deletar_ponto(this)">Remover</button></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <script>
        function deletar_ponto(button){
            var row = button.parentNode.parentNode;

            var id = row.cells[0].innerText;

            fetch('{{ url_for("pontos_turisticos.deletar_ponto_turistico") }}', {
                method: 'DELETE',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({"id": id})
            })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                alert('Ponto turístico removido com sucesso! ID: ' + data.id);
                //removendo linha da tabela
                row.parentNode.removeChild(row);
            })
            .catch((error) => {
                console.error('Error:', error);
                alert(error);
            });
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>