<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/style.css') }}"/>

    <title>Ouro Pontos</title>
</head>
<body class="d-flex justify-content-center align-items-center">    

    <form id="pontoTuristicoForm" class="border mt-5">
        <h1 class="text-center mt-5 mb-4">Edição de Ponto Turístico</h1>

        <div class="form-group mt-5 ml-5 mr-5">                
            <input type="text" class="form-control" name="nome" id="nome" placeholder="Nome" value ="{{ponto_turistico['nome']}}" required>
        </div>

        <div class="form-group mt-4 ml-5 mr-5">            
            <textarea class="form-control" name="descricao" id="descricao" placeholder="Descrição Do Ponto Turístico" rows="10" required>{{ponto_turistico['descricao']}}</textarea>
        </div>

        <div class="form-group mt-4 ml-5 mr-5">            
            <input type="text" class="form-control" name="latitude" id="latitude" placeholder="Latitude" value ="{{ponto_turistico['latitude']}}" required>
        </div>

        <div class="form-group mt-4 ml-5 mr-5">            
            <input type="text" class="form-control" name="longitude" id="longitude" placeholder="Longitude" value ="{{ponto_turistico['longitude']}}" required>
        </div>
        
        <div class="form-group mt-4 mr-5 ml-5 mb-4">
            <input type="submit" value="Editar" class="btn btn-primary w-100">
        </div>

        <input type="hidden" name="id" id="id" value="{{ponto_turistico['id']}}">

    </form>

    <script src="{{url_for('static', filename='scripts/cadastro.js')}}"></script>

    <script>
        document.getElementById('pontoTuristicoForm').addEventListener('submit', function(event) {
            event.preventDefault();  // Prevent the default form submission
    
            let form = document.getElementById("pontoTuristicoForm");
                        
            const [isValid, formData] = verificar_latitude_e_longitude(form.elements);
            
    
            if (!isValid) {
                return; // Impede o envio do formulário se houver um erro
            }
            
            enviarDados('{{ url_for("pontos_turisticos.update_ponto_turistico") }}', formData).then(response => {
                if(response){
                    history.back();
                }
            })
        
        });
    </script>
    


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>